@page
@model OnlineGallery.Pages.Images.CreateModel
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Roles = "Moderator")]

<h2>Добавить картину</h2>

<form method="post" enctype="multipart/form-data">
    <div>
        <label>Название</label>
        <input asp-for="Input.Title" />
    </div>
    <div>
        <label>Автор</label>
        <select asp-for="Input.AuthorId" asp-items="Model.AuthorSelect">
            <option value="">-- нет --</option>
        </select>
    </div>
    <div>
        <label>Коллекция</label>
        <select asp-for="Input.CollectionId" asp-items="Model.CollectionSelect">
            <option value="">-- нет --</option>
        </select>
    </div>
    <div>
        <label>Дата создания картины</label>
        <input asp-for="Input.PaintingDate" type="date" />
    </div>
    <div>
        <label>Описание</label>
        <textarea asp-for="Input.Description"></textarea>
    </div>
    <div>
        <label>Файл (jpg/png)</label>
        <input type="file" name="ImageFile" />
    </div>
    <button type="submit">Сохранить</button>
</form>
